*{
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    background-color: plum;
    padding: 5px;
}
.container{
    height: 300px;
    background-color: olive;
    margin: 10px;
}
footer{
    text-align: center;
}